@import '~antd/dist/antd.css';
body {
    background-image: url("../assets/Login.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: slategrey;
}

p {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-content {
    width: 300px;
    height: 300px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.login-block {
    width: 450px;
    height: 400px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-login {
    float: left;
}

.login-form-button {
    width: 100%;
}